$navbar-color: #203354;

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.navbar {
    background-color: $navbar-color;
    color: #ffffff;
    height: 60px;
    display: flex;
    align-items: center;
}

h1, h2, h3, p {
    margin: 0;
}
