<form method="post">
    <input type="file" name="QualisFile" id="file" ng-file-model="files" accept=".xls,.xlsx" (change)="setFile($event.target.files)">
    <button name="Qualis Import" (click)="sendFile()"> Qualis Import</button>
    <button name="Clear Qualis" (click)="clearQualis()"> Clear Qualis</button>
</form>

<table>
    <tr *ngIf="qualisTable.tabela.length > 0">
       <th>Periódico</th>
       <th>ISSN</th>
       <th>Avaliação</th>
    </tr>
    <tr *ngFor="let e of qualisTable.tabela | keyvalue" class="qualisTable-container">
        <td>{{ e.value[0] }}</td>
        <td>{{ e.value[1].issn }}</td>
        <td>{{ e.value[1].avaliacao }}</td>
    </tr>
</table>