<html>
    <td><input [(ngModel)]="nome1" name="cpfbox"></td>
    <td><input [(ngModel)]="nome2" name="cpfbox"></td>
    <td><input [(ngModel)]="nome3" name="cpfbox"></td>

    <td><input [(ngModel)]="index" name="cpfbox"></td>
    <td><input [(ngModel)]="id" name="cpfbox"></td>

    <button (click)="montarRelatorio(nome1, nome2, nome3)">Criar</button>
    <button (click)="logar()">Logar</button>

    <div *ngFor="let r of relatorios" class="relatorio">
        <div class="relatorioHeader">
            <p>{{r.id}}</p>
            <div>
                <button class="relButton" (click)="atualizarRender(r.id)">Mostrar</button>
                <button class="relButton" (click)="deletarRelatorio(r.id)">Deletar</button>
            </div>
        </div>
        <div class="relatorioContent" *ngIf="getRender(r.id)">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <th>Mais Publicacoes:</th>
                    <th>Melhor média:</th>
                    <th>Mais notas máximas:</th>
                </tr>
                <tr>
                    <td>{{getNomes(r.maisPublicacoes)}}</td>
                    <td>{{getNomes(r.melhorMedia)}}</td>
                    <td>{{getNomes(r.maisMaximas)}}</td>
                </tr>
                
                
            </table>
            <table style="width: 100%;text-align: center;">
                <tr>
                    <th>Pesquisador</th>
                    <th>Publicacoes</th>
                    <th>Notas maximas</th>
                </tr>
                <tr *ngFor="let p of r.pesquisadores; let i = index" name="alunolist"> 
                    <td name="nomelist">{{p.nome}}</td>
                    <td name="cpflist">{{r.notasMaximas[i]}}</td>
                    <td>{{r.artigos[i]}}</td>
                </tr>
            </table>
        </div>
    </div>
   


</html>
<!--<html (mousemove)="onMove()">

<table>
    <tr>
        <td><label>Nome </label></td>
        <td><input [(ngModel)]="aluno.nome" name="namebox"></td>
        <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
    </tr>
    <tr>
        <td><label>CPF </label></td>
        <td><input [(ngModel)]="aluno.cpf" name="cpfbox"></td>
        <td name="msgcpfexistente" *ngIf="cpfduplicado">
            Já existe um aluno com esse CPF
        </td>
    </tr>
    <tr>
        <td><label>GITHUB</label></td>
        <td><input [(ngModel)]="aluno.github"></td>
        <td *ngIf="githubduplicado">
            Já existe um aluno com esse Github
        </td>
    </tr>
    <tr>
        <td><label>e-mail </label></td>
        <td><input [(ngModel)]="aluno.email"></td>
    </tr>
</table>

<table>
    <tr *ngIf="alunos.length > 0">
        <th>Nome</th>
        <th>CPF</th>
        <th>e-mail</th>
        <th>Github</th>
    </tr>
    <tr *ngFor="let a of alunos" name="alunolist">
        <td name="nomelist">{{a.nome}}</td>
        <td name="cpflist">{{a.cpf}}</td>
        <td>{{a.email}}</td>
        <td>{{a.github}}</td>
    </tr>
</table>

</html>*/--> 