<h2>Importar Lattes XML</h2>
<hr>
<form method="post">
  <input type="file" name="file" id="file" ng-file-model="files" accept=".xml"
    (change)="uploadLattes($event.target.files)" multiple>
</form>
<br>
<div>
  <span id="status-message">{{ statusLattes }}</span>
  <br>
  <span *ngIf="statusLattes === 'sucesso'" class="status">Arquivo importado com sucesso!</span>
  <span *ngIf="statusLattes === 'erro'" class="status">Erro ao importar arquivo</span>
</div>

<br>
<br>

<h2>Pesquisadores Cadastrados</h2>
<hr>
<div *ngFor="let p of pesquisadores" class="pesquisadores-container">
  <p class="pesquisador-nome">{{ p.nome }}</p>
  <ul *ngFor="let publi of p.publicacoes">
    <li attr.parent="{{ p.nome }}">{{ publi.titulo }}
  </ul>
</div>