.pesosmarcado {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 5px;
}

input[id="pesoscheck"]:checked ~ .pesosmarcado {
  opacity: 1;
  max-height: 100px; 
  overflow: visible;
}
