h1 {
    margin-left: 200px;
}

div#cadastro h2 {
    margin-left: 40px;
}

div#grupos h2 {
    margin-left: 20px;
} 

div.main {
    display: flex;
    flex-direction: row;
}

div#cadastro {
    width: 48%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    
}

div#grupos {
    width: 48%;
    min-width: 250px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}

td.errorMsg {
    color: red;
}

button {
    margin-left: 10px;
    background-color: #2bcc38d5;
}

