<html>
<h1>Grupos</h1>

<hr>
<div class="main">

<div id="cadastro">
    <h2>Novo grupo</h2>
    <table>
        <tr>
            <td>Nome do grupo</td>
            <td><input (click)="onMove()" [(ngModel)]="grupo.nome"></td>
            <td><button (click)="criar(grupo)">Criar Grupo</button></td>
            <td class="errorMsg" *ngIf="nomeInvalido">
                Nome invalido
            </td>
        </tr>
        <tr>
            
        </tr>
    </table>
    
</div>

<div id="grupos">
    <h2>Grupos existentes</h2>
    <div id="grupo" *ngFor="let g of grupos">
    <table>
        
        <tr>
            <h2>{{g.nome}}</h2>
            <h4>Integrantes</h4>
            <ol>
                <li *ngFor="let p of g.integrantes">{{p.nome}}</li>
            </ol>
            <button (click)="addPesquisador(pesquisador, g)">Adicionar Pesquisador</button>
            <select (click)="onMove()" [(ngModel)]="pesquisador.nome">
                <option *ngFor="let p of pesquisadores">
                    {{p.nome}}
                </option>
            </select>
            <td class="errorMsg" *ngIf="pesquisadorJaExistente">
                Erro, pesquisador ja existe neste grupo.
            </td>
        </tr>
        
    </table>
    </div>
</div>
</div>

</html>